<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
    <p class="text-muted mb-1 mb-md-0">ETU : 2389 - 2546 - 2552 - 2585 - 2711</p>
    <p class="text-muted">Copyright © IT University, Tout droits reservés.</p>
</footer>
