<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            My<span>App</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Achat</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#demande" role="button" aria-expanded="false" aria-controls="demande">
                    <i class="link-icon" data-feather="git-pull-request"></i>
                    <span class="link-title">Demande</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="demande">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Saisie</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">À valider</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#bon-de-commande" role="button" aria-expanded="false" aria-controls="bon-de-commande">
                    <i class="link-icon" data-feather="shopping-cart"></i>
                    <span class="link-title">Bon de commande</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="bon-de-commande">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Saisie</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#bon-de-reception" role="button" aria-expanded="false" aria-controls="bon-de-reception">
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title">Bon de réception</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="bon-de-reception">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Saisie</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Vente</li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="link-icon" data-feather="plus-circle"></i>
                    <span class="link-title">Création</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="link-icon" data-feather="align-justify"></i>
                    <span class="link-title">Liste</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#bon-de-livraison" role="button" aria-expanded="false" aria-controls="bon-de-livraison">
                    <i class="link-icon" data-feather="truck"></i>
                    <span class="link-title">Bon de livraison</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="bon-de-livraison">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Saisie</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Annexe</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#produit" role="button" aria-expanded="false" aria-controls="produit">
                    <i class="link-icon" data-feather="tag"></i>
                    <span class="link-title">Produit</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="produit">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Formulaire</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Autre</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#tiers" role="button" aria-expanded="false" aria-controls="tiers">
                    <i class="link-icon" data-feather="package"></i>
                    <span class="link-title">Tiers</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="tiers">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Formulaire</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Liste</a>
                        </li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#stock" role="button" aria-expanded="false" aria-controls="stock">
                    <i class="link-icon" data-feather="database"></i>
                    <span class="link-title">Stock</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="stock">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">État</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Mouvement</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
