<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            My<span>App</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Achat</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#demande" role="button" aria-expanded="false" aria-controls="demande">
                    <i class="link-icon" data-feather="git-pull-request"></i>
                    <span class="link-title">Demande</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="demande">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="pages/email/inbox.html" class="nav-link">Saisie</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/email/read.html" class="nav-link">Liste</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/email/compose.html" class="nav-link">À valider</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#achat" role="button" aria-expanded="false" aria-controls="achat">
                    <i class="link-icon" data-feather="shopping-cart"></i>
                    <span class="link-title">Achat</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="achat">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="achat_bonCommande_liste.html" class="nav-link">Liste des commandes</a>
                        </li>
                        <li class="nav-item">
                            <a href="achat_bonReception_list.html" class="nav-link">Liste des bons de réception</a>
                        </li>
                        <li class="nav-item">
                            <a href="achat_bonReception.html" class="nav-link">Bon de réception</a>
                        </li>
                        <li class="nav-item">
                            <a href="achat_bonCommande.html" class="nav-link">Bon de commande</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Annexe</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#produit" role="button" aria-expanded="false" aria-controls="produit">
                    <i class="link-icon" data-feather="inbox"></i>
                    <span class="link-title">Produit</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="produit">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="produit_insertion.html" class="nav-link">Formulaire</a>
                        </li>
                        <li class="nav-item">
                            <a href="produit_liste.html" class="nav-link">Liste</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">Général</li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" role="button" aria-expanded="false" aria-controls="general-pages">
                    <i class="link-icon" data-feather="book"></i>
                    <span class="link-title">Special pages</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="general-pages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="pages/general/blank-page.html" class="nav-link">Blank page</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/general/faq.html" class="nav-link">Faq</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/general/invoice.html" class="nav-link">Invoice</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/general/profile.html" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/general/pricing.html" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/general/timeline.html" class="nav-link">Timeline</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#authPages" role="button" aria-expanded="false" aria-controls="authPages">
                    <i class="link-icon" data-feather="unlock"></i>
                    <span class="link-title">Authentication</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="authPages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="pages/auth/login.html" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/auth/register.html" class="nav-link">Register</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#errorPages" role="button" aria-expanded="false" aria-controls="errorPages">
                    <i class="link-icon" data-feather="cloud-off"></i>
                    <span class="link-title">Error</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="errorPages">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="pages/error/404.html" class="nav-link">404</a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/error/500.html" class="nav-link">500</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
