{% extends 'main_layout.html.twig' %}

{% block breadcrumb %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Demande d'achat</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Liste des demandes</h6>
                    <div class="table-responsive pt-2">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Motif</th>
                                <th>Utilisateur</th>
                                <th>Fournisseur</th>
                                <th>Date et heure</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        {{ knp_pagination_render(demande_achats) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
