{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-wrapper">
        {% include 'partials/_sidebar.html.twig' %}
        {% include 'partials/_navbar.html.twig' %}
        <div class="page-content">
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% include 'partials/_footer.html.twig' %}
    </div>
{% endblock %}
